<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-type" content="text/html; charset=utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
        <meta http-equiv="refresh" content="20">
        <link rel="shortcut icon" href="devops.ico" type="image/x-icon">
		<title><%= ENV['APP_NAME'] %></title>
        <link rel="stylesheet" href="css/index.css">
	</head>
	<body>
		<%= yield %>
	</body>
</html>
